<footer>
  <div class="grid-container full">
  	<div class="grid-x grid-padding-x">
  		<div class="cell medium-6 large-8">
  			<h3>Tamarra Phillips –</h3>
  			<ul>
  				<li>Hard Working, Reliable, Philomath</li>
  				<li>Knowledge of: CSS, HTML, JS, jQuery, Wireframes, A/B &amp; User Testing</li>
  			</ul>
  		</div>

  		<div class="cell medium-6 large-4">
  			<h3>Get in touch</h3>
  			<div class="">
  				<p>
  					<a href="mailto:tamarra.leigh.phillips@gmail.com">Email: tamarra.leigh.phillips@gmail.com</a><br>
  					<a href="https://www.linkedin.com/in/tamarra-phillips">LinkedIn</a>
  				</p>
  			</div>
  		</div>
  	</div>

  	<div id="footer-base">
  		<div class="grid-x grid-padding-x">
  			<div class="cell medium-6 large-8">
  				© Tamarra Phillips - 2019
  			</div>
  			<div class="cell medium-6 large-4 show-for-medium">
  				Proudly Powered By Cat Videos.
  			</div>
  		</div>
  	</div>
  </div>
</footer>
