<header>
  <div class="grid-container full">
    <div class="title-bar" data-responsive-toggle="animated-menu" data-hide-for="medium">
      <button class="menu-icon" type="button" data-toggle></button>
      <div class="title-bar-title">Menu</div>
    </div>
    <div class="topbar" id="animated-menu" data-animate="slide-in-down slide-out-up">
      <ul class="vertical medium-horizontal menu" data-responsive-menu="drilldown medium-dropdown">
        <li><a href="/index.html">Home</a></li>
        <li><a href="/portfolio.html">Portfolio</a></li>
        <li><a href="/resume.html">Resume</a></li>
      </ul>
    </div>
  </div>
</header>
