<header>
  <div class="grid-container full">
      <div class="title-bar" data-responsive-toggle="animated-menu" data-hide-for="medium">
        <button class="menu-icon" type="button" data-toggle></button>
        <div class="title-bar-title"><h1>Tamarra Phillips</h1></div>
      </div>
      <div class="topbar" id="animated-menu" data-animate="fade-in fade-out">
        <h1 class="show-for-medium">Tamarra Phillips</h1>
        <div class="grid-x">
          <div class="cell auto show-for-medium">
            <h5>Enthusiast of all things UI/UX</h5>
          </div>
          <div class="cell small-12 medium-shrink">
            <ul class="menu" data-responsive-menu="drilldown medium-dropdown">
              <li><a href="/index.html">Home</a></li>
              <li><a href="/portfolio.html">Portfolio</a></li>
              <li><a href="/resume.html">Resume</a></li>
            </ul>
          </div>
        </div>
    </div>
  </div>
</header>
